export type Env = {
  API_KEY: string;
  SITE_ID: string;
};

export const AppEnvValues = {
  'default': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
  } satisfies Env,

  /**
   * If you are switching between Firebase and APN frequently for development,
   * Comment out the Env struct above and uncomment the one below
   * which will allow you to set API for FCM and APN separately.
   */
   /*
  'apn': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
  } satisfies Env,
  'fcm': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
  } satisfies Env,
  'android fcm': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
  } satisfies Env,
  */
};
