export type Env = {
  API_KEY: string;
  SITE_ID: string;
  buildTimestamp?: number;
};

export const AppEnvValues = {
  'default': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
    buildTimestamp: 0,
  } satisfies Env,

  /**
   * Environment configurations for different app variants
   * The keys must match the app names (converted to lowercase) used in the builds
   */
  'react native apn': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
    buildTimestamp: 0,
  } satisfies Env,
  'react native fcm': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
    buildTimestamp: 0,
  } satisfies Env,
  'react native android': {
    API_KEY: '<API_KEY>',
    SITE_ID: '<SITE_ID>',
    buildTimestamp: 0,
  } satisfies Env,
};
