<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.customer.reactnative.sdk">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- Broadcast receiver for push interactions -->
        <receiver
            android:name="io.customer.messagingpush.CustomerIOFirebaseMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
