name: Build Sample App

on:
  workflow_call:
    inputs:
      app_name:
        description: "Name of the sample app to build"
        required: true
        type: string
      branch_name:
        description: "Branch name for versioning"
        required: false
        type: string
      cio-workspace-name:
        description: "Name of the Customer.io workspace to use"
        required: true
        type: string
      sdk_version:
        default: ""
        description: "SDK version to use (optional, defaults to local dependency)"
        required: false
        type: string
      platform:
          description: "Platform to build for (ios or android)"
          required: true
          type: string
      platform_name:
          description: "Name of the platform (iOS or Android)"
          required: true
          type: string
      platform_name_upper:
          description: "Name of the platform in all upper case (IOS or ANDROID)"
          required: true
          type: string
    
    outputs:
      sdk_version_name:
        description: "SDK version used in the build"
        value: ${{ jobs.build-sample-app.outputs.sdk_version_name }}
      app_version_name:
        description: "Generated app version name"
        value: ${{ jobs.build-sample-app.outputs.app_version_name }}
      app_version_code:
        description: "Generated app version code"
        value: ${{ jobs.build-sample-app.outputs.app_version_code }}
        

env:
  RUBY_VERSION: '3.2'
  NODE_VERSION: '20'

jobs:
  build-sample-app:
    name: Building ${{ inputs.platform_name }}  ${{ inputs.app_name }} sample app with SDK version ${{ inputs.sdk_version }}
    runs-on: macos-15
    defaults:
      run:
        working-directory: example # sets working directory for all steps in this job
    outputs:
      sdk_version_name: ${{ steps.export-vars.outputs.sdk_version_name }}
      app_version_name: ${{ steps.export-vars.outputs.app_version_name }}
      app_version_code: ${{ steps.export-vars.outputs.app_version_code }}

    steps:
      - name: Check out code with conditional fetch-depth
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Workaround for bug https://github.com/actions/checkout/issues/1471

      # This file is untracked and needs to be created dynamically
      - name: Create SampleApp.xcodeproj file
        shell: bash
        working-directory: example/ios
        run: |
          # Copy the tracked project file to the root of the repository
          cp -R SampleApp.xcodeproj.tracked SampleApp.xcodeproj

      # Install CLI tools, Ruby, and Ruby dependencies for Fastlane
      - name: Set IS_PRIMARY_APP
        run: |
          if [[ "${{ inputs.app_name }}" == "APN" ]]; then
            echo "IS_PRIMARY_APP=true" >> $GITHUB_ENV
            echo "PUSH_PROVIDER=apn" >> $GITHUB_ENV
          else
            echo "IS_PRIMARY_APP=false" >> $GITHUB_ENV
            echo "PUSH_PROVIDER=fcm" >> $GITHUB_ENV
          fi

      - name: Set Default Firebase Distribution Groups
        shell: bash
        env:
          # Distribution group constants
          ALL_BUILDS_GROUP: all-builds
          FEATURE_BUILDS_GROUP: feature-branch
          NEXT_BUILDS_GROUP: next
          PUBLIC_BUILDS_GROUP: public
          # Input variables
          CURRENT_BRANCH: ${{ github.ref }}
        run: |
          # Initialize with the default distribution group
          distribution_groups=("$ALL_BUILDS_GROUP")

          # Append distribution groups based on branch and context if the app is primary
          if [[ "$IS_PRIMARY_APP" == "true" ]]; then
            [[ "$CURRENT_BRANCH" == "refs/heads/feature/"* ]] && distribution_groups+=("$FEATURE_BUILDS_GROUP")
            [[ "$CURRENT_BRANCH" == "refs/heads/main" ]] && distribution_groups+=("$NEXT_BUILDS_GROUP")
            [[ -n "${{ inputs.sdk_version }}" ]] && distribution_groups+=("$PUBLIC_BUILDS_GROUP")
          fi

          # Export the groups as an environment variable
          echo "firebase_distribution_groups=$(IFS=','; echo "${distribution_groups[*]}")" >> $GITHUB_ENV

      - name: Install CLI tools used in CI script
        shell: bash
        run: |
          brew install sd # used in CI script as an easier to use sed CLI. Replaces text in files. 
          brew install xcbeautify # used by fastlane for output

      - name: Install Ruby
        uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true # cache tools to make builds faster in future
          working-directory: example

      # Update version numbers and workspace credentials before building the app

      - name: Generate New Version
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          subdirectory: example
          lane: 'generate_new_version'
          options: >
            {
              "branch_name": "${{ inputs.branch_name || github.ref_name }}",
              "pull_request_number": "${{ github.event.pull_request.number }}",
              "sdk_version": "${{ inputs.sdk_version }}"
            }

      - name: Export App and SDK Version Info
        id: export-vars
        run: |
          echo "Exporting SDK and App Version..."
          echo "sdk_version_name=${SDK_VERSION_NAME}" >> $GITHUB_OUTPUT
          echo "app_version_name=${APP_VERSION_NAME}" >> $GITHUB_OUTPUT
          echo "app_version_code=${APP_VERSION_CODE}" >> $GITHUB_OUTPUT
        env:
          SDK_VERSION_NAME: ${{ env.SDK_VERSION_NAME }}
          APP_VERSION_NAME: ${{ env.APP_VERSION_NAME }}
          APP_VERSION_CODE: ${{ env.APP_VERSION_CODE }}

      - name: Update React Native SDK Version
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          subdirectory: example
          lane: "update_react_native_sdk_version"
        env:
          SDK_VERSION_NAME: ${{ env.SDK_VERSION_NAME }}
          APP_VERSION_NAME: ${{ env.APP_VERSION_NAME }}
          APP_VERSION_CODE: ${{ env.APP_VERSION_CODE }}

      - name: Update ${{ inputs.platform_name }} ${{ inputs.app_name }} Sample App Version
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          subdirectory: example
          lane: "update_react_native_app_version"
        env:
          SDK_VERSION_NAME: ${{ env.SDK_VERSION_NAME }}
          APP_VERSION_NAME: ${{ env.APP_VERSION_NAME }}
          APP_VERSION_CODE: ${{ env.APP_VERSION_CODE }}

      - name: Set Git Context Variables
        run: |
          echo "BRANCH_NAME=${{ github.head_ref || github.ref_name }}" >> $GITHUB_ENV
          COMMIT_HASH="${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
          echo "COMMIT_HASH=${COMMIT_HASH:0:7}" >> $GITHUB_ENV

      - name: Setup workspace credentials in React Native environment files
        run: |
          # Determine the correct file extension (.js or .ts)
          if [ -f "src/env.ts.sample" ]; then
            ENV_FILE="src/env.ts"
            cp "src/env.ts.sample" "$ENV_FILE"
          else
            echo "No src/env.ts.sample file found."
            exit 1
          fi

          # Update keys in the environment file
          sd "buildTimestamp: .*" "buildTimestamp: $(date +%s)," "$ENV_FILE"
          sd "API_KEY: '.*'" "API_KEY: '${{ secrets[format('CUSTOMERIO_{0}_WORKSPACE_CDP_API_KEY', inputs.app_name)] }}'" "$ENV_FILE"
          sd "SITE_ID: '.*'" "SITE_ID: '${{ secrets[format('CUSTOMERIO_{0}_WORKSPACE_SITE_ID', inputs.app_name)] }}'" "$ENV_FILE"

      - name: Setup workspace credentials for the iOS NSE environment files
        if: ${{ inputs.platform == 'ios' }}
        working-directory: example/ios/NotificationServiceExtension
        run: |
          ENV_FILE="Env.swift"
          cp "$ENV_FILE.sample" "$ENV_FILE"
          sd 'CDP_API_KEY = ".*"' "CDP_API_KEY = \"${{ secrets[format('CUSTOMERIO_{0}_WORKSPACE_CDP_API_KEY', inputs.app_name)] }}\"" "$ENV_FILE"

      # Make sure to fetch dependencies only after updating version numbers and workspace credentials

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: |
            **/package-lock.json

      - name: Cache CocoaPods downloaded dependencies for faster builds in the future
        uses: actions/cache@v5
        with:
          path: example/Pods
          key: ${{ runner.os }}-${{ inputs.app_name }}-Pods-${{ github.ref }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.app_name }}-Pods

      - name: Install dependencies to build SDK
        run: npm ci
        working-directory: .

      - name: Install dependencies for sample app
        run: |
          SDK_VERSION="${{ inputs.sdk_version }}" 
          if [[ -n "$SDK_VERSION" ]]; then
            npm run ci:install_${{ inputs.platform }} -- --cio-rn-sdk=$SDK_VERSION
          else
            npm run ci:install_${{ inputs.platform }}
          fi
        working-directory: example

      # Build the app and upload to Firebase App Distribution

      - name: Setup Android environment for Android sample app
        if: ${{ inputs.platform == 'android' }}
        uses: customerio/customerio-android/.github/actions/setup-android@main

      - name: Setup ${{ inputs.platform_name }} environment for the ${{ inputs.platform }} sample app
        if: ${{ inputs.platform == 'ios' }}
        uses: customerio/mobile-ci-tools/github-actions/ios/setup-ios/v1@MacOS-15+iOS-26

      - name: Build and upload ${{ inputs.platform_name }} ${{ inputs.app_name }} sample app via Fastlane
        id: build_app
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          subdirectory: example
          lane: '${{ inputs.platform }} build'
          options: '{"distribution_groups": "${{ env.firebase_distribution_groups }}"}'
        env:
         
          GOOGLE_CLOUD_MATCH_READONLY_SERVICE_ACCOUNT_B64: ${{ secrets.GOOGLE_CLOUD_MATCH_READONLY_SERVICE_ACCOUNT_B64 }}
          FIREBASE_APP_DISTRIBUTION_SERVICE_ACCOUNT_CREDS_B64: ${{ secrets.FIREBASE_APP_DISTRIBUTION_SERVICE_ACCOUNT_CREDS_B64 }}
        continue-on-error: true

      - name: Send slack notification for ${{ inputs.platform_name }} ${{ inputs.app_name }} sample app builds
        if: ${{ always() && env.IS_PRIMARY_APP == 'true' }}
        uses: customerio/mobile-ci-tools/github-actions/slack-notify-sample-app/v1@main
        with:
          build_status: ${{ steps.build_app.outcome }}
          app_icon_emoji: ":react:"
          app_name: "React Native"
          firebase_app_id: ${{ secrets[format('SAMPLE_APPS_{0}_FIREBASE_APP_ID_{1}', inputs.app_name, inputs.platform_upper_name )] }}
          firebase_distribution_groups: ${{ env.firebase_distribution_groups }}
          git_context: "${{ env.BRANCH_NAME }} (${{ env.COMMIT_HASH }})"
          icon_url: "https://vectorified.com/images/icon-react-native-24.png"
          instructions_guide_link: ${{ secrets.SAMPLE_APPS_INSTRUCTIONS_GUIDE_LINK }}
          platform: ${{ inputs.platform }}
          sdk_name: "React Native SDK"
          sdk_version: ${{ env.SDK_VERSION_NAME }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Check build statuses and mark failure
        run: |
          FAILED_BUILDS=()
          [ "${{ steps.build_app.outcome }}" != "success" ] && FAILED_BUILDS+=("(${{ inputs.platform_name }})")

          if [ ${#FAILED_BUILDS[@]} -ne 0 ]; then
            echo "Build failed for: ${FAILED_BUILDS[*]}"
            exit 1
          fi
