name: Deploy git tag 

# Only run after a pull request has been merged. This is because
# bot account runs write operations on the github repo to push a tag. 
on:
  push:
    branches: [main, beta, alpha]

jobs:
  deploy-tag:
    name: Deploy git tag 
    runs-on: ubuntu-latest
    steps:
      - name: semantic-release setup
        uses: levibostian/action-semantic-release-justwork@v1
        
      - name: Deploy git tag via semantic release 
        uses: cycjimmy/semantic-release-action@v3
        id: semantic-release
        with: 
          # version numbers below can be in many forms: M, M.m, M.m.p
          semantic_version: 19
          extra_plugins: |
            conventional-changelog-conventionalcommits@4
            @semantic-release/changelog@6
            @semantic-release/git@10
            @semantic-release/github@8
            @semantic-release/exec@6
        env:
          # Needs to push git commits to repo. Needs write access. 
          GITHUB_TOKEN: ${{ secrets.WRITE_ACCESS_BOT_TOKEN }}        

      - name: Prepare to sync branches 
        run: |
          git config --global user.email "21171259+ami-ci@users.noreply.github.com"
          git config --global user.name "Ami CI"          
      - name: Copy commits into develop after main deployment 
        uses: levibostian/action-sync-branches@v1
        with:
          behind: develop
          ahead: main 
          githubToken: ${{ secrets.WRITE_ACCESS_BOT_TOKEN }}
    
      - name: Notify team of git tag being created 
        uses: slackapi/slack-github-action@v1.18.0        
        if: steps.semantic-release.outputs.new_release_published == 'true'
        with:
          # Use block kit to format the Slack message: https://app.slack.com/block-kit-builder
          payload: |
            {
              "text": "ReactNative SDK git tag created",
              "username": "ReactNative deployment bot",
              "icon_url": "https://vectorified.com/images/icon-react-native-24.png",
              "channel": "#squad-mobile",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*ReactNative* SDK git tag created successfully! (deployment step 1 of 2)"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Version ${{ steps.semantic-release.outputs.new_release_version }}*\n\nReactNative SDK deployment progress:\n ~1. <https://github.com/${{github.repository}}/releases/tag/${{steps.semantic-release.outputs.new_release_version}}|create git tag>~\n2. deploy to npm\n\n"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      
      - name: Notify team of failure 
        uses: slackapi/slack-github-action@v1.18.0
        if: ${{ failure() }} # only run this if any previous step failed 
        with:
          # Use block kit to format the Slack message: https://app.slack.com/block-kit-builder
          payload: |
            {
              "text": "ReactNative SDK deployment failure",
              "username": "ReactNative deployment bot",
              "icon_url": "https://vectorified.com/images/icon-react-native-24.png",
              "channel": "#squad-mobile",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*ReactNative* SDK deployment :warning: failure :warning:"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "ReactNative SDK failed deployment during step *create git tag*. View <https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}|CI server logs> to learn why and fix the issue. <https://github.com/customerio/mobile/blob/main/GIT-WORKFLOW.md|Learn more about the deployment process and how to fix errors>."
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK