name: Test

on: [push, pull_request]

jobs:
  test-deploy:
    name: Test able to deploy to npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      - name: Compile
        run: yarn typescript

      - name: Publish test
        run: npm publish --dry-run

  assert-lint:
    name: Assert lint check passes and no lint errors exist
    permissions:
      checks: write # for eslint annotation action to create check for the PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn lint:report

      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          check-name: 'eslint results'
          only-pr-files: false 
          fail-on-warning: false 
          fail-on-error: true 
          markdown-report-on-step-summary: true 
          report-json: "eslint_report.json"
