<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93259709906-8pn1fj1si34773vg0eqc5i63kmtfctos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93259709906-8pn1fj1si34773vg0eqc5i63kmtfctos</string>
	<key>API_KEY</key>
	<string>AIzaSyB9RG-vAIt6St4LeZ1_n_aKNFXqDty3H4g</string>
	<key>GCM_SENDER_ID</key>
	<string>93259709906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.customer.ami</string>
	<key>PROJECT_ID</key>
	<string>amiapp-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>amiapp-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93259709906:ios:a6de4515b3c7868e27dc0b</string>
</dict>
</plist>